/* variables */
:root {
    --white: #ffffff;
    --black: black;

    --blue-green-color: #21cca3;
    --bg-color: #f3f5fb;

    --secondary-font-color: #939090;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

ul, ol, span {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* space between screen-edge and items on screen */
html {
    margin: 4rem 5rem;
    background: var(--bg-color);
}


.card-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    gap: 2rem;
    margin: 3rem 0;
}

.card {
    /* style */
    background: var(--white);
    border-radius: 10px;
    box-shadow: none;
    /* keep items centered */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* only 1 card is opened when chevron is clicked */
    align-self: flex-start;
}

.thumbnail-container {
    height: 5rem;
    width: 5rem;

    /* initials in center of circle */
    align-content: center; 

    background: var(--blue-green-color);
    color: var(--white);
}

.name {
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

.uk-label {
    /* uikit icon btn */
    background: var(--blue-green-color);
    color: var(--white);
    height: 30px;
    width: 30px;
    padding: 4px;
    margin: 30px 4px 0 4px;
    /* center icons in btn */
    align-content: center;
}

.key-contacts, .details {
    margin-top: 1.2rem;
}

.details {
    line-height: 25px;
}

.key-contacts {
    line-height: 15px;
}

.subtitle, .detail-line {
    color: var(--secondary-font-color);
    font-size: 0.7rem;
}

.key-contacts-title {
    color: black;
    font-size: 0.8rem;
}